<!DOCTYPE html>

<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="@{'/public/javascripts/main.js'}"></script>
</head>

<body>
<div class="container">
    <div class="well well-sm">
        <strong>View Orders</strong>
    </div>

    #{list orderItems, as:'orderItem'}
    <div class="row">
        <div class="item col-lg-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h3 class="group inner list-group-item-heading">
                            Stripe Order Id: ${orderItem.stripeId}</h3>
                        <p class="group inner list-group-item-text">
                            Order Id: ${orderItem.UUID}</p>

            <div class="row">
                <div class="item  col-md-2">
                    <div class="caption">
                        <h5 class="group inner list-group-item-heading">
                            Address Line1: ${orderItem.getAddress().address_line1}</h5>
                    </div>
                </div>
                <div class="item  col-xs-2">
                    <div class="caption">
                        <h5 class="group inner list-group-item-heading">
                            Address City: ${orderItem.getAddress().address_city}</h5>
                    </div>
                </div>
                <div class="item  col-xs-2">
                    <div class="caption">
                        <h5 class="group inner list-group-item-heading">
                            Address State: ${orderItem.getAddress().address_state}</h5>
                    </div>
                </div>
                <div class="item  col-xs-2">
                    <div class="caption">
                        <h5 class="group inner list-group-item-heading">
                            Address State: ${orderItem.getAddress().address_zip}</h5>
                    </div>
                </div>
            </div>
        </div>
                </div>
        </div>
    </div>
        #{/list}
</div>

</body>
</html>