<!DOCTYPE html>

<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="@{'/public/javascripts/main.js'}"></script>
        <title> View Products </title>
    </head>

<body>
<div class="container">
    <div class="well well-sm">
        <strong>View Products</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>

    <div id="products" class="row list-group">
        #{list products, as:'product'}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="@{'/public/images/400x250.jpg'}" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        ${product.name}</h4>
                    <p class="group inner list-group-item-text">
                     ${product.description}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">${product.price}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="payments/select_payment/${product.id}">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        #{/list}
    </div>
</div>

</body>
</html>